<!--create.ejs-->
<form action="/inspector/create" method="POST">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Inspector[email]">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control" name="Inspector[name]">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>